# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ここから自分で追加した分

# Files
*.suo
*.log
*.exe
*.user

# Library
DxLib_h/

#Resource
MiniatureGardenTanks/Data/ResourceFiles/
MiniatureGardenTanks/素材＆ツールメモ.txt
MiniatureGardenTanks/Log.txt
MiniatureGardenTanks/.vs/
MiniatureGardenTanks/Debug/
MiniatureGardenTanks/Release/
